<header class="backLinkHeader">
    <div class="subcontainer backLinkHeader__subcontainer">

        <button class="backLinkHeader__subcontainer__button secondaryButton">
            <img class="backLinkHeader__subcontainer__button__icon secondaryButton__icon" alt="Icono de flecha hacia la derecha" src="assets/img/svg/icon_arrow_left.svg">
            <span class="backLinkHeader__subcontainer__button__text secondaryButton__text">
                VOLVER
            </span>
        </button>

    </div>
</header>